body {
  padding: 50px;
  font-family: Arial;
}

a {
  color: #00B7FF;
}

ul.success li, ul.info li,ul.error li{
  margin: 20px 0 20px 0;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  list-style: none;
}

ul.success li{
  color: green;
  background: lightgreen;
  border-color: mediumspringgreen;
}

ul.info li{
  color: blue;
  background: lightblue;
  border-color: mediumblue;
}

ul.error li{
  color: red;
  background: mistyrose;
  border-color: orangered;
}